:root {
    text-align: center;
}
.btns{
    background-color: hsl(105.64deg 46.25% 50.39%);
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    font-weight: 800;
    transition: background-color 0.2s;
    
    
}
.btns:hover{
    color: white;
}

